.header, h1 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  text-align: center;
  color: white;
  font-size: 70px;
  font-family: Helvetica;
  font-weight: bold;
}
